.footer-section {
    width: 100%;
    height: 16vh;
    top: 616vh; /*3850px*/
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFDC5E;
    color: white;
    position: absolute;
}

.credits {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}