@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Staatliches&family=Varela+Round&display=swap');

::-webkit-scrollbar {
    display: none; /* Oculta la barra de scroll sin deshabilitarla */
}

body {
    font-family: 'Varela Round', sans-serif;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
    margin: 0%;
    padding: 0%;
}

.title {
    height: 15px;
    font-family: 'Staatliches', cursive;
    font-size: 6rem;

    /*transition: margin-left 3s; para la animacion*/
}

.sub-title {
    width: 90%;
    font-family: 'Amatic SC', cursive; 
    font-size: 2.5rem;
}

p {
    width: 80%;
    font-size: 1.3rem;
}

/* Descripción de cada sección que se muestra en la home */
.information-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Portada de la página */

.front-page {
    width: 100%;
    height: 100vh;
    top: 16vh; /*100px*/
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #ff9770;
    /*ffad01 amarillo, ff958c rojo anaranjado*/
}

.front-page-image {
    width: 200px; 
    height: 200px;
    background-size: cover;
}

.section-image {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

/* Seccion de adoptantes */

.adopters-section {
    width: 100%;
    height: 100vh;
    top: 116vh; /*725px*/ 
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    background-color: #FFA3A5;
    
}

/* Seccion de rescatistas */

.rescuers-section {
    width: 100%;
    height: 100vh;
    top: 216vh; /*1350px*/
    left: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    color: #FF86C8;
}

/* Seccion de dueños */

.owners-section {
    width: 100%;
    height: 100vh;
    top: 316vh; /*1975px*/
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    background-color: #ff7aa2;
    color: white;
}

/* Seccion explicativa de la organización */

.us-section {
    width: 100%;
    height: 100vh;
    top: 416vh; /*2600px*/
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #FFA3A5;
}

/* Seccion contactanos */

.contact-us-section {
    width: 100%;
    height: 100vh;
    top: 516vh; /*3225px*/
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    color: white;
    background-color: #ff7f51;
}

.container-contact-us {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Definición de estilos de otras cosas */

.form-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

label {
    width: 20%;
    font-size: 18px;
    color: white;
}

.input-section {
    margin: 10px;
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 50%;
    height: 5px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    padding: 20px;
}

input:focus {
    outline: #dd2d4a solid;
}

textarea {
    width: 50%;
    height: 150px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    padding: 20px;
    resize: none;
    /* Para que no se pueda agrandar */
}

textarea:focus {
    outline: #dd2d4a solid;
}

button {
    margin: 40px;
    padding: 15px;
    color: white;
    border-style: none;
    border-radius: 35px;
    background-color: #ffbf00;
    font-size: 20px;

    transition: background-color 1s;
}

button:hover {
    background-color: #dd2d4a;
}

.links-button {
    padding: 10px;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    font-weight: 550;
    text-decoration: none;
    color: white;
}

.footer-letter {
    width: 100%;
    font-size: 1rem;
}

/* Media queries para celular */

@media(max-width: 576px) {

    section {
        padding: 20px; /*Revisar*/
    }

    /* Titulos de cada seccion, incluido el de la front page, parrafor y subtitulos */
    .title {
        font-size: 3rem;
    }
    
    .sub-title {
        font-size: 1.6rem;
    }

    .information-section {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    /* Saco las imagenes ya que para
    celulares el tamaño es demasiado
    pequeño como para que se puedan ver
    bien, incluso con media queries. */

    .section-image {
        display: none;
    }

    /* Seccion contactanos */
    .contact-us-section {
        justify-content: center;
    }

    .form-section {
        flex-direction: column;
    }

    .input-section {
        margin: 5px;
        justify-content: space-between;
    }

    /* Footer */
    .footer-letter {
        width: 100%;
        font-size: 0.7rem;
    }

}

/* Media queries para tablet */

@media(min-width: 768px) and (max-width: 992px) {

    section {
        padding: 20px; /*Revisar*/
    }

}