@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Staatliches&family=Varela+Round&display=swap');

::-webkit-scrollbar {
    display: none; /* Oculta la barra de scroll sin deshabilitarla */
}

body {
    font-family: 'Varela Round', sans-serif;
    overflow-x: hidden;
}

.title {
    height: 10px;
    font-family: 'Staatliches', cursive; 
    font-size: 100px;
}

.information-section { /* Descripción de cada sección que se muestra en la home */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Portada de la página */

.front-page {
    width: 100%;
    height: 100%;
    top: 100px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    color: #ff9770; /*ffad01 amarillo, ff958c rojo anaranjado*/
}

/* Seccion de dueños */

.owners-section {
    width: 100%;
    height: 100%;
    top: 725px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    background-color: #ff7aa2;
    color: white;
}

.owners-section-background {
    background-image: url(../Images/fondo-perrito.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
}

/* Seccion de rescatistas */

.rescuers-section {
    width: 100%;
    height: 100%;
    top: 1350px;
    left: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
}

.recuers-section-background {
    background-image: url(../Images/mascotas-rescatadas.gif);
    background-size: cover;
    background-repeat: no-repeat;
    width: 160%;
    height: 100%;
    position: relative;
}

/* Seccion de adoptantes */

.adopters-section {
    width: 100%;
    height: 100%;
    top: 1975px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    background-color: #FFA3A5;
}

.adopters-section-background {
    background-image: url(../Images/perrito-adoptado.gif);
    background-size: cover;
    background-repeat: no-repeat;
    width: 200%;
    height: 100%;
    position: relative;
}

/* Seccion explicativa de la organización */

.us-section {
    width: 100%;
    height: 100%;
    top: 2600px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

/* Seccion contactanos */

.contact-us-section {
    width: 100%;
    height: 100%;
    top: 3225px;
    left: 0px;
    justify-content: center;
    align-items: center;
    position: absolute;

    color: white;
    background-color: #ff7f51;
}

.container-contact-us {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Definición de estilos de otras cosas */

.form-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

label {
    width: 15%;
    font-size: 18px;
    color: white;
}

.input-section {
    margin: 10px;
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 50%;
    height: 5px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    padding: 20px;
}

input:focus {
    outline: #dd2d4a solid;
}

textarea {
    width: 50%;
    height: 150px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    padding: 20px;
    resize: none; /* Para que no se pueda agrandar */
}

textarea:focus {
    outline: #dd2d4a solid;
}

button {
    margin: 40px;
    padding: 15px;
    color: white;
    border-style: none;
    border-radius:35px;
    background-color: #ffbf00;
    font-size: 20px;
}

button:hover {
    background-color: #dd2d4a;
}

.links-button {
    padding: 10px;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    font-weight: 550;
    text-decoration: none;
    color: white;
}